body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #0099ff;
}

#project {
  background-color: #0099ff;
}

section {
  padding-top: 5rem;
}

#gallery .row > * {
  padding: 0;
}

.gallery-img {
  width: 100%;
}
